.rp {
  //   border: 1px dashed black;
  height: 70vh;
}

.rp-headline-div {
  //   border: 1px dashed black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3%;
}

.rp-headline {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 1%;
}

.rp-headline-hr {
  width: 12%;
  text-align: center;
}

.rp-posts-div {
  //   border: 1px dashed black;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3%;
}

.rp-individual-post-div {
  // border: 1px dashed black;
  width: 30%;
}

.rp-post-img {
  width: 100%;
  height: 85%;
  object-fit: cover;
  margin-bottom: 2%;
}

.rp-post-title {
  font-size: 2.2rem;
  text-align: center;
  font-family: "Rubik", sans-serif;
  color: #000;
}

.rp-blog-btn-div {
  //   border: 1px dashed black;
  display: flex;
  justify-content: center;
}

.rp-blog-btn {
  width: 15%;
  height: 5vh;
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
}

.rp-blog-btn-content {
  display: flex;
  // border: 1px solid white;
  width: 55%;
  justify-content: space-between;
}

.rp-blog-btn-arrow {
  // border: 1px solid white;
  display: flex;
  align-items: center;
  font-size: 3.5rem !important;
  font-weight: 700;
}
